<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/80b52174-dae9-4d52-83ed-e731f9fd9b7f/resourceGroups/Project-TalentRG/providers/Microsoft.ApiManagement/service/talentapp/apis/echo-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/80b52174-dae9-4d52-83ed-e731f9fd9b7f/resourceGroups/Project-TalentRG/providers/Microsoft.Web/sites/projecttalent1</ResourceId>
    <ResourceGroup>Project-TalentRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://projecttalent1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8283e8f6-fec3-48bc-8119-0a1583059669</ProjectGuid>
    <PublishUrl>https://projecttalent1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$projecttalent1</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>